h1 {
	text-align:center;
    font-size:410%;
	border-bottom:1px solid black;
}
#left {
    display:inline-block;
	
}
#right {
   display: inline-block;
   float:right;
}
form {
	padding:20%;
	
}
fieldset div{
	display:inline-block;
}
input { 
    display:block;
	border:1px black solid;
}
form p {
	display:inline-block;
	border:1px black solid;
}
#bttm {
	border:1px solid black;
}
#clock {
	border:1px black solid;
}